.mountains{
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task1/nature.jpeg);
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin-top: 32px;
    text-align: center;
}
